{% extends "basefront.html.twig" %}
{% block body %}
    <main>
        <div id="content">
            <!--Titre de page-->
            <div id="contactHeader" class="mb-5">
                <h2>Me contacter</h2>
                <h5>Si vous voulez me contacter, plusieurs choix s'offrent à vous.</h5>
            </div>
            <!--Cases moyens de contact-->
            <div id="contactGrid">
                <div class="contactWay">
                    <p><a href="mailto:corentindufeu1@gmail.com">Adresse email : <br> corentin.dufeu@hotmail.fr</a></p>
                </div>
                <div class="contactWay">
                    <p><a href="tel:0640095449">Téléphone : <br> 0640095449</a></p>
                </div>
                <div class="contactWay">
                    <p>Adresse :<br>9 rue de la Gare<br>35370 Argentré du Plessis</p>
                </div>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d184457.4928471702!2d-1.444786589942244!3d48.077313309041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4808d81467c8ee9b%3A0xac4fa772207eecc5!2s35370%20Argentr%C3%A9-du-Plessis!5e0!3m2!1sfr!2sfr!4v1683599865268!5m2!1sfr!2sfr" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </main>
{% endblock %}