{% extends "basefront.html.twig" %}

{% block body %}
    <main>
        <div id="content">
            <!--Texte de présentation-->
            <div id="workText">
                <h5>
                    Avec la volonté de comprendre le fonctionnement de l'utilisation d'une API dans un projet personnel, 
                    mon objectif a été de développer une application simple en autonomie sous le langage de php.
                    <br>
                    Cette application doit permettre à n'importe qui de pouvoir enregistrer une video YouTube sous le format MP3, 
                    en insérant simplement le lien de la vidéo. Tout le projet est disponible sur github via le lien ci-dessous.
                    <br><br>
                    Lien du dépot de l'application : <a href="https://github.com/corentindufeu/DowloadMp3.git" class="text-decoration-none">https://github.com/coco3580/Atelier-2.git</a>
                    <br><br>
                    Lien de la page de l'application : <a href="https://www.corentindufeu.fr/DowloadMp3/" class="text-decoration-none">https://www.corentindufeu.fr/DowloadMp3/</a>
                </h5>
            </div>
        </div>
    </main>
{% endblock %}