
body{
    background-color: #333333 !important;
    font-family: NowAlt-Light !important;
}
#content{
    width: 100%;
    margin: auto;
    margin-top: 100px;
}

/* --- Header --- */

    #header{
        position: fixed;
        top: 0;
        height: 60px;
        display: flex;
        flex-direction: row;
        z-index: 1000;
        background-color: rgba(245, 245, 245, 0.556);
        box-shadow: rgba(245, 245, 245, 0.655) 0 5px 10px;
    }
    #header:hover{
        transition: 1500ms;
        background-color: #19c3d4;
        box-shadow: none;
    }
    #header:not(:hover){
        transition: 1500ms;
        background-color: rgba(245, 245, 245, 0.556);
        box-shadow: rgba(245, 245, 245, 0.655) 0 5px 10px;
    }

    /*left*/
    #header > #titleHeader{
        font-family: NowAlt-Light;
        width: 400px;
        text-align: center;
        user-select: none;
        position: relative;
        transform: translateY(-50%);
        top: 60%;
        color: #ffa537;
        text-shadow: #ffa5375a 1px 1px 10px;
    }

    /*right*/
    #header > nav{
        width: 800px;
    }
    #header > nav > ul{
        list-style-type: none; 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    #header > nav li{
        width: 100px;
    }
    #header > nav a{
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-family: Roboto-Light;
    }
    .headerButton a{
        text-align: center;
        position: relative;
        width: 250px;
        height: 50px;
        font-size: 20px;
        outline: none;
    }
    .headerButton a:hover span{
        transition: 1000ms;
        text-shadow: #f0f0f065 2px 2px 14px;
    }
    .headerButton a span{
        display: block;
        position: relative;
        line-height: 50px;
        height: 50px;
        cursor: pointer;
        text-shadow: #f0f0f069 2px 2px 8px;
    }
    .headerButton a > span:after{
        content:'';
        position: absolute;
        top: 0;
        width: 30px;
        height: 0;
        border: 3px solid #ffa437;
        border-left: none;
        border-bottom: none;
        transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
    }
    .headerButton a:hover > span:after{
        width: calc(50% - 1px);
        height: calc(100% - 2px);
        transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
        border-color: #f0f0f0b4;
    }
    .headerButton a > span:before{
        content:'';
        position: absolute;
        right: 50%;
        width: 30px;
        height: 0;
        border: 3px solid #ffa437;
        border-right: none;
        border-bottom: none;
        transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
    }
    .headerButton a:hover > span:before{
        width: calc(50% - 1px);
        height: calc(100% - 2px);
        transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
        border-color: #f0f0f0b4;
    }
    .headerButton a > span > span > span:after{
        color:#ffa437;
        font-weight: 600;
        content: attr(data-attr-span);
        width: 0%;
        height: 100%;
        white-space: nowrap;
        text-align: center;
        margin: auto;
        display: flex;
        justify-content: center;
        transition: width 0.2s;
    }
    .headerButton a:hover > span > span > span:after{
        transition: 300ms;
        width: 100%;
        color: #f0f0f0b4;
    }

/* --- Content Index --- */

    #indexAccueil{
        width: 100vw;
        height: 100vh;
        background-color: #19c3d4;
        text-align: center;
        box-shadow: #19c3d4 0 5px 5px;
    }
    #indexAccueil #gifIndex{
        width: 50%;
        margin: auto;
    }
    #indexAccueil #arrow{
        width: 40px;
        transform : rotate(90deg);
        position: absolute;
        top: 80vh;
        z-index: 1;
        animation-duration: 2s;
        animation-name: arrowAnimation;
        animation-iteration-count: infinite;
    }
    @keyframes arrowAnimation{
        0% { top: 80vh; }
        50% { top: 85vh; }
        100% { top: 80vh; }
    }

/* --- Content About Me --- */

    #content > #aboutMe{
        position: relative;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    #aboutMe > #personalText{
        width: 65%;
        display: inline-block;
        color: white;
        padding: 4%;
    }
    #aboutMe > #personalImg{
        display: inline-block;
        width: 28%;
        height: 100%;
        position: absolute;
        right: 5%;
        clip-path: ellipse(100% 100% at 0% 0%);
    }
    #personalImg > img{
        filter: grayscale(40%);
        width: 100%;
        height: 99%;
    }

/* --- My works --- */

#myWork{
    width: 100%;
    position: relative;
}

#losangeLeft {
    top: 25%;
    left: -10%;
    transform: translateY(-50%);
    width  : 0;
    height : 0;
    border : 150px solid transparent;
    border-bottom : 200px solid #ffa437;
    position: absolute;
}
#losangeLeft:after {
    width  : 0;
    height : 0;
    content : '';
    position : absolute;
    transform: translateX(-50%);
    top  : 200px;
    border : 150px solid transparent;
    border-top : 200px solid #ffa437;
}
#losangeRight {
    top: 25%;
    right: -10%;
    transform: translateY(-50%);
    width  : 0;
    height : 0;
    border : 150px solid transparent;
    border-bottom : 200px solid #ffa437;
    position: absolute;
}
#losangeRight:after {
    width  : 0;
    height : 0;
    content : '';
    position : absolute;
    transform: translateX(-50%);
    top  : 200px;
    border : 150px solid transparent;
    border-top : 200px solid #ffa437;
}

#projectsGrid{
    margin-top: 20px;
    display: grid;
	grid-template-columns: repeat(auto-fill, 300px);
	grid-gap: 10px;
	justify-content: center;
}
.project{
    width: 300px;
	height: 200px;
	background-color: #333;
    position: relative;
    overflow: hidden;
}
.project .shutterProject{
    position: absolute;
    top: -100%;
    background-color: rgba(250, 250, 250, 0.8);
}
.project:hover .shutterProject{
    top: 0;
    transition: 200ms;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.project:hover .shutterProject > img{
    width: 10%;
}

/* --- Work --- */

#content > #workText{
    text-align: center;
    border: black 1px solid;
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
    text-align: justify;
    padding: 50px;
}
#video {
    width: 50%;
    margin: auto;
}
#video video{
    width: 100%;
}

/* --- Contact Me --- */

#contact{
    margin-top: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#contactHeader{
    margin-top: 20px;
    color: #ffa437;
    text-align: center;
    border-top: solid 2px #ffa537a3;
    border-bottom: solid 2px #ffa537a3;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-evenly;
}

#contactGrid{
    margin-top: 100px;
    display: flex;
	grid-template-columns: repeat(auto-fill, 300px);
	grid-gap: 10px;
	justify-content: center;
}
.contactWay{
    width: 300px;
	height: 200px;
    border: solid #ffa437;
}
.contactWay:hover{
    transition: 100ms;
    background-color: #ffa437;
    border-color: rgba(255, 255, 255, 0.293);
}
.contactWay p{
    color: white;
    text-align: center;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}
.contactWay:hover p{
    color: black;
}
.contactWay a{
    color: white;
    text-decoration: none;
}
.contactWay:hover a{
    color: black;
}
#content iframe{
    margin-top: 100px;
    width: 100%;
    box-shadow: #ffa437 0 0 15px;
}

/* --- Footers --- */

footer{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
    width: 100%;
}
footer > p{
    color: white;
    margin-left: 5%;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}

/*Fonts*/
@font-face {
	font-family: NowAlt-Light;
	src: url('../fonts/NowAlt-Light.otf');
}
@font-face {
	font-family: Roboto-Light;
	src: url('../fonts/Roboto-Light.ttf');
}